*{
    border: red solid;
}
.page-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente en la página */
    align-items: center; /* Centra verticalmente en la página */
    height: 100vh; /* Opcional: ajusta la altura de la página según sea necesario */
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 50px;
  }
  
  .grid-item {
    background-color: #ddd;
    padding: 20px;
  }
  